.contenedor-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn {
    background-color: #25b09b !important;
    border: none;
    transition: all 0.2s ease-in;
    border-radius: 5px;
    color: #fff !important;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 600;
}

.login-btn:hover {
    background-color: #1e8878 !important;
    color: #fff;
}

.login input {
    box-shadow: none !important;
}

.login input:focus {
    border-color: #25b09b;
}

.login svg {
    color: #ffffffdd !important;
}